body{
  background-color: #ffff !important;
  color: #1C0B19 !important;
}

 nav{
   background-color: #CED3DC!important;
 }
 footer{
   background-color: #3fc1c9 !important;
 }

 h1{
   color:#1C0B19 !important;
 }
 h3{
   color:#1C0B19 !important;
 }
 p{
   color:#1C0B19 !important;
 }
 div.carousel-caption h3{
   color:#ffff !important;
 }
 div.carousel-caption h4{
   color:#ffff !important;
 }
 div.carousel-caption p{
   color:#ffff !important;
 }
  div.footer-copyright.text-center.py-3 a:hover{
    color:#1C0B19;
    text-decoration: none;
  }
a.nav-link{
  color:#ffff !important;
}
a.nav-link:hover{
  color:#392A36 !important;
}
