body{
  background-color: #fffcea !important;
  color: #283c63 !important;
}

 nav{
   background-color: #CED3DC!important;
 }
 footer{
   background-color: #3fc1c9 !important;
 }
 a{
   color:#fc5185;
 }
 h1{
   color:#283c63;
 }
 h3{
   color:#283c63;
 }
 p{
   color:#283c63;
 }
