


/* CSS for Arictles */
.article-title{
  text-align: center;
}

p .article-paragraph{
  text-indent:50px;
}

.fa-instagram{
  color:white;
}

a .white-icons{
  tecolor: white;
  text-decoration: none;
}

a{
  color: white;
}

hr.underline-title#underline-title{
  height: 5px;
  color:#212529;
  background-color: #212529;
  border
}
