


/* CSS for Arictles */
.article-title{
  text-align: center;
}

p .article-paragraph{
  text-indent:50px;
}

.fa-instagram{
  color:white;
}

a .white-icons{
  tecolor: white;
  text-decoration: none;
}

a{
  color: white;
}

hr{
  border-style: none;
  height: 3px;
  background-color: #212529;
}
  u.subtitle{
    height: 1px;
  }

  
