


/* CSS for Arictles */
.article-title{
  text-align: center;
}

p .article-paragraph{
  text-indent:50px;
}

.fa-instagram{
  color:white;
}

a .white-icons{
  tecolor: white;
  text-decoration: none;
}

a{
  color: white;
}

hr{
  border-style: none;
  height: 3px;
  background-color: #212529;
}
nav{
  color: #071E22 !important;
}
 p.subtext{
   color: #1a1a2e !important;
 }

h1{
  color: #1a1a2e !important;
}

h2{
  color: #1a1a2e !important;
}

h3{
  color: #1a1a2e !important;
}
h4{
  color: #1a1a2e !important;
}
h5{
  color: #1a1a2e !important;
}
h6{
  color: #1a1a2e !important;
}
